read_input_with_promises.js
AdventOfCode2022.code-workspace
.vscode/launch.json
.testInput/*.*
testInput/day17_tetris test.xlsx
.vscode/launch.json
.oldvscode/launch.json
.oldvscode/s.json
.vscode/launch-SUE-DESKTOP.json
.vscode/launch.json
testInput/day5_test.txt
testInput/day10_test.txt
testInput/day11_test.txt
testInput/day13_analysi.xlsx
testInput/day13_test.txt
testInput/day16_test.txt
testInput/day19_buildingStocks.xlsx
testInput/day22_analysis.xlsx
testInput/day22_test.txt
.prettierrc
.gitignore
.vscode/launch.json
day23_plantingSpaceOld.js
pathFinding.js
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
